body {
    margin: 0;
}
#telemetry-params {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}
#telemetry-params > div {
    width: 28%;
    font-size: 28px;
    text-align: center;
    margin: 1%;
    flex-grow: 1;
}

.default-button {
    width: 100%;
    border-radius: 4px;
    color: white;
    background-color: rgb(26,115,232);
    border: none;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 12pt;
    padding: 6pt;
    box-sizing: border-box;
    font-family: system-ui;
    max-width: 400px;
}
.param-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.param-name {
    font-size: 24px;
}

@media (max-width: 600px) {
    #telemetry-params > div {
        width: 46%;
        margin: 2%
    }
}

.param-value {
    font-size: 48px;
}
.param-unit {
    font-size: 24px;
}